<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TranslateWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62246/TranslateWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TranslateWebServiceSoap"
                contract="TranslatorServiceReference.TranslateWebServiceSoap"
                name="TranslateWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>